
{% extends "base.html" %}
{% block style %}{{url_for('static', filename='css/index.css')}}{% endblock %}
{% block body %}
	<h1>Bienvenue sur ce menu en ligne!</h1>
	<h2>Comment vous appelez-vous?</h2>
	<div class="formname">
		<form action="{{url_for('SetName')}}" method="get">
			<label>Nom : </label><input type="text" name="nom" value="HungryMan" />
			<input type="submit" value="Envoyer" />
		</form>
	</div>
	<br><br>
	<div class="randmeal">
	<h2 class="randtitle">Vous n'avez pas d'idée? <br> Optez pour un repas du jour!</h2>
	<a href="/Rand" class="randbtn"><button><span>Repas du jour</span></button></a>
	</div>
{% endblock %}