{% extends "base.html" %}
{% block style %}{{url_for('static', filename = 'css/style.css')}}{% endblock %}
{% block Sstyle %}<link rel="stylesheet" type="text/css" href= {{url_for('static', filename='css/{}'.format(Which_Main))}}>{% endblock %}
{% block body %}
	<h1>Et le plat principal?</h1>
	<div class="head">
	<form class="A">
		<input type="radio" id= "Pizza" class="null opt1" name="Main" value="Pizza" checked>
		<input type="radio" id= "Sushi" name="Main" value="Sushi" class="null opt2">
		<input type="radio" id= "Poisson" name="Main" value="Poisson" class="null opt3">
		<input type="radio" id= "Sphagetti" name="Main" value="Spaghetti" class="null opt4">
		<table>
			<tr class="option1">
				<td class="one"><label for="Pizza" class="lab">Pizza classique 8.50 <span></span></label></td>
			</tr>
			<tr class="option2">
				<td class="one"><label for="Sushi" class="lab">Plateau de Sushi frais 9.00 <span></span></label></td>
			</tr>
			<tr class="option3">
				<td class="one"><label for="Poisson" class="lab">Poisson frais 8.00 <span></span></label></td>
			</tr>
			<tr class="option4">
				<td class="one"><label for="Sphagetti" class="lab">Sphagetti avec boulettes 7.00 <span></span></label></td>
			</tr>
			<br/>
		</table>
		<br>
		<button type="submit">Choisir</button>
	</form>
	<form class="B">
		<input type="submit" id ="Désélectionner" name ="Désélectionner" value="Désélectionner">
	</form>
	</div>
	<a href="/Step3">
	<svg version="1.1" class="next" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
		viewBox="0 0 512.008 512.008" style="enable-background:new 0 0 512.008 512.008;" xml:space="preserve">
		<defs>
			<linearGradient id="myG" x1="3%" y1="100%" x2="97%" y2="0%">
				<stop offset="0" stop-color="rgba(83,58,123,1)">
				</stop>
				<stop offset="1" stop-color="rgb(105,105,179,0)">
				</stop>
				<stop offset="1" stop-color="rgb(255,0,0,0)"></stop>
			</linearGradient>
		</defs>
		<path d="M306.219,45.796c-21.838-21.838-57.245-21.838-79.083,0s-21.838,57.245,0,79.083l77.781,77.803
			H53.333C23.878,202.682,0,226.56,0,256.015c0,29.455,23.878,53.333,53.333,53.333h251.584l-77.781,77.781
			c-21.838,21.838-21.838,57.245,0,79.083c21.838,21.838,57.245,21.838,79.083,0l202.667-202.667c4.164-4.165,4.164-10.917,0-15.083
			L306.219,45.796z"/>
	</svg>
	</a>
	<div class="imgs">
	<div id="Progress">
		{% if session["Starter"] != None %}
		<a href="/Step1"><img id='Starter' class="Starter" src={{url_for('static', filename='images/Starter/{}.png'.format(session["Starter"]))}}></a>
		{%endif%}
		{% if Which_Main != 'None.css' %}
		<img id='Main' class="Main" src={{url_for('static', filename='images/Main/{}.png'.format(Which_Main.replace(".css","")))}}>
		{%endif%}			
		<img id="ProgressBar"  src="{{url_for('static', filename='images/Progress.png')}}">
	</div>
	</div>
{% endblock %}