body{margin:0}

h1{
	margin: 8px 0;
	text-align: center;
	color: darkblue;
}

h2{
	text-align: center;
	color: black;
}

.radiobutton {
	padding-bottom: 16px;
}

td.one{
	transform: translateY(-19px);
}

form.A{
	margin: 0 auto;
	width: 99%;
	background-color: lightblue;
	border-top: 3px solid darkturquoise;
	border-left: 3px solid darkturquoise;
	border-right: 3px solid darkturquoise;
}

form.B{
	margin: 0 auto;
	width: 99%;
	background-color: lightblue;
	border-bottom: 3px solid darkturquoise;
	border-left: 3px solid darkturquoise;
	border-right: 3px solid darkturquoise;
}

label{
	font-weight: bold;
	width: 20%;
}

button{
	color: rgb(2, 12, 58);
	width: 20%;
	margin: 0 50% 0 30%;
	height: 30px;
	border: 1px solid lightgray;
	border-radius: 5px;
	border-right-width: 1px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

form.B{
	position: relative;
}

#Désélectionner{
	position: absolute;
	transform: translateY(-100%);
	right: 29.5vw;
	width: 20%;
	height: 30px;
	border: 1px solid lightgray;
	border-radius: 5px;
	border-left-width: 0px ;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

a{
	margin: 0 auto;
	color: rgb(2, 12, 58);
	border-radius: 5px;
}

.next{
	width: 10%;
	position: absolute;	
	right: 0;
	z-index: 50;
}

.imgs{
	position: relative;
}

#ProgressBar{
	position: absolute;
	left: -1%;
	z-index: 2;
}

.Starter{
	position: absolute;
	top: 20px;
	left: 27px;
	z-index: 3;
	width: 18%;
}

.Main{
	position: absolute;
	top: 102px;
	left: 228px;
	z-index: 3;
	width: 18%;
}

.Cheese{
	position: absolute;
	top: 20px;
	left: 426px;
	z-index: 3;
	width: 18%;
}

.Dessert{
	position: absolute;
	top: 100px;
	left: 628px;
	z-index: 3;
	width: 18%;
}